<div class="list-group">
  <%= link_to 'Ohuse', kannri_ohuse_path, method: :get,
                            class: "list-group-item list-group-item-action" %>
  <%= link_to 'Users', kannri_user_path, method: :get,
                            class: "list-group-item list-group-item-action" %>
</div>
